#block most of this
logger/Data/*
logger/DoNotCommit/*
.vscode/*
logger/styles/*
logger/params.py

#do not block
!logger/Data/data_csv.csv
!.gitignore
!README.md
!src.json
!logger/helpers/*
!logger/apps/*
!logger/__init__.py
!logger/ao3_functions.py
!logger/main_gui.py

!ao3_logger.py
!log_gui.py

*.pyc
*.pyc
